<%= form_with(model: [current_user, @recipe, Food.new], url: create_user_recipe_recipe_foods_path(current_user, @recipe), method: :post, local: true) do |f| %>
  <div class="field mb-3">
      <%= f.text_field :name, class: "form-control", placeholder: "Food name" %>
    </div>
    <div class="field mb-3">
      <%= f.text_field :measurement_unit, class: "form-control", placeholder: "Measurement unit" %>
    </div>
    <div class="field mb-3">
      <%= f.number_field :price, class: "form-control", placeholder: "Price" %>
    </div>
    <div class="field mb-3">
      <%= f.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
    </div>
    <div class="actions w-25 m-auto d-grid gap-2">
      <%= f.submit "Create Food", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <%= link_to "Back", show_user_recipe_path(current_user, @recipe) %>
  