<% if can? :read, @recipe || @recipe.public == true %>
  <div class="container">
    <h2 class="text-center"><%= @recipe.name %></h2>
    <div class="d-flex">
      <div class="col-8 d-flex flex-column">
        <span>preparation time: <%= @recipe.preparation_time %> Hr(s)</span>
        <span>cooking time: <%= @recipe.cooking_time %> Hr(s)</span>
        <p>Steps goest here....</p>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <%= link_to "Generate Shopping list", show_user_recipe_path(current_user, @recipe), class: "btn btn-sm btn-primary" %>
    </div>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @recipe_foods && !@recipe_foods.empty? %>
          <% @recipe_foods.select { |rf| rf.recipe_id == @recipe.id }.each do |recipe_food| %>
            <tr>
              <td><%= Food.find(recipe_food.food_id).name %></td>
              <td><%= recipe_food.quantity %><%= Food.find(recipe_food.food_id).measurement_unit %></td>
              <td>$<%= (Food.find(recipe_food.food_id).price * recipe_food.quantity).round(2) %></td>
              <td>
                 </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4" class="text-center">No ingredients added yet</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex flex-row justify-content-between">
    <% if can? :manage, Food %>
      <button id="add-ingredient-button" class="btn btn-sm btn-primary">Add New Ingredient</button>
      <div id="ingredient-form" style="display: none;">
        <%= render partial: 'ingredient_form' %>
      </div>
    <% end %>
  </div>
  </div>
<% end %>


